
.c3{
    margin-top: 3rem;
    width: 100vw;
}

.pct{
    width: 100%;
    height: 95vh;
}

.c4{
    margin-top: 1rem;
    width: 100vw;
    padding: 2%;
}

.lin{
    width: 100%;
}
.sc{
    width: 90%;
}



