.r1{
    margin-top: 5rem;
    gap: 2rem;
    padding-bottom: 10rem;
}

.form{
    width: 30rem;
    height: 5rem;
    /*background: yellow;*/
}

.re{
    margin-top: 0.7rem;
    width: 100%;
    height: 3rem;
    padding: 0.3rem;
    font-size: 1rem;
}

.name{
    width: 49%;
}

.cek{
    width: 30rem;
    height: 3rem;
    gap: 0.5rem;
}

.con{
    width: 30rem;
    height: 3rem;
    background: black;
    color: white;
}